#keyboardInputMaster {
  position:absolute;
  width: 940px;
  height: 354px;
  color:#000000;
  text-align:left;
  z-index:1000000;
  margin:0px;
  font:normal 20px Arial,sans-serif;
  line-height:1;
}
#keyboardInputMaster * {
  /*color:#000000;*/
  /*background:transparent;*/
  /*font:normal 11px Arial,sans-serif;*/
  /*margin:0px;*/
  /*padding:0px;*/
  /*border:0px none;*/
  /*outline:0px;*/
  /*vertical-align:baseline;*/
}

#keyboardInputMaster thead tr th {
  text-align:left;
  padding:3px 5px 2px 4px;
  background-color:inherit;
}
#keyboardInputMaster thead tr th select {
  margin-right:5px;
  border:1px inset #888888;
  background-color:#f6f6f6;
}
#keyboardInputMaster thead tr th label input {
  width:12px;
  height:12px;
  vertical-align:middle;
}
#keyboardInputMaster thead tr td {
  text-align:right;
  vertical-align:middle;
  padding:3px 4px 2px 5px;
}
#keyboardInputMaster thead tr td span {
  padding:1px 4px;
  font-weight:bold;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #5d5d5d;
  border-bottom:1px solid #5d5d5d;
  border-left:1px solid #e5e5e5;
  background-color:#cccccc;
  cursor:pointer;
}

#keyboardInputMaster tbody tr td {
  text-align:left;
  padding:0px 4px 3px 4px;
}
#keyboardInputMaster tbody tr td div {
  text-align:center;
  position:relative;
  height:0px;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout {
  /*height:auto;*/
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table {
  min-height:35px;
  white-space:nowrap;
  /*width:100%;*/
  border-collapse:separate;
  /*border-spacing:0px;*/
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table.keyboardInputCenter {
  width:auto;
  margin:0px auto;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td div {
  min-height: 35px;
  vertical-align:middle;
  padding: 9px 5px 0px 5px;
  white-space:pre;
  font:bold 20px 'Lucida Console',monospace;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -moz-border-radius-topleft:15px;
  -moz-border-radius-topright:15px;
  border: 1px solid #50638D;
  cursor:default;
  background: #EEE url("button_bg.png") repeat-x center;
  color: #243C70;
}

.small-button
{
  min-width: 40px;
}
.middle-button
{
  min-width: 70px;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.last div{
  /*width:99%;*/
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.space div{
  min-width: 300px;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.alive div{
  background-color:#ccccdd;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.target div{
  /*background-color:#ddddcc;*/
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.hover div{
  /*background-color:#cccccc;*/
}
#keyboardInputMaster thead tr td span.pressed,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.pressed div,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.dead div {
  background: #EEE url("button_bg_onpress.png") repeat-x center;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table.line1, .line5 {
	margin-left: 0px;
	}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table.line2 {
	margin-left: 15px;
	}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table.line3 {
	margin-left: 29px;
	}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table.line4 {
	margin-left: 43px;
	}

#keyboardInputMaster tbody tr td div var {
  position:absolute;
  bottom:0px;
  right:0px;
  font-weight:bold;
  font-style:italic;
  color:#444444;
}

.keyboardInputInitiator {
  margin-left:3px;
  vertical-align:middle;
  cursor:pointer;
}

/*hide unneeded elements*/
html body table thead tr th label,
html body table thead tr th label input,
html body table thead tr th select,
#keyboardInputClear,
#keyboardInputClose,
#keyboardLayoutToggle,
.keyboardInputInitiator
{
	display:none;
}
